.map {
	width: 100vw;
	height: 100vh;
}
.map-page .current-location-icon {
	width: 80rpx;height: 80rpx;
	position: absolute;
	right: 44rpx;
	bottom: 50rpx;
}
.marker-classification-area {
	position: absolute;
	top: 170rpx;
	left: 44rpx;
	display: flex;
	flex-direction: row;
	height: 50rpx;
}
.marker-classification {
	float: left;
	display: flex;
	flex-direction: row;
	align-items: center;
	box-shadow: 0 1px 5px rgba(0,0,0,.1);
	width: 200rpx;height: 50rpx;
	background-color: #fff;
	border-radius: 25rpx;
	overflow: hidden;
	margin-right: 22rpx;
}
.marker-classification .icon {
	width: 44rpx;height: 44rpx;
	margin: 8rpx 12rpx 0 12rpx;
	opacity: 0.3;
}